<%- include ('header') %>

<%if(message==true){%>
	<script type="text/javascript">
		$('body').toast({
    		class: 'success',
    		message: `Pssword updated`,
    		position: 'top left',
  		})
	</script>
<%}%>
<div class="ui main container">
	<div class="row">
		<form class="ui form" method="POST" action="/changepassword">
			<div class="fields">
		    	<div class="field">
		    		<label>Password</label>
					<input type="password" placeholder="Password" id="password" name="password">
		    	</div>
		    	<div class="field">
		    		<label>Repeat password</label>
					<input type="password" placeholder="Repeat password" id="repass" name="repass">
		    	</div>
		    </div>
		    <div class="ui error message"></div>
		    <div class="field">
		    	<button type="submit" class="ui primary basic button">Update Password</button>
		    </div>
		</form>


<%- include ('footer') %>