<!DOCTYPE html>
<html>
   
    <script type="text/javascript" src="asset/js/grow.js"></script>
    <script type="text/javascript" src="asset/js/Chart.js"></script>
    <script type="text/javascript" src="asset/js/moment.js"></script>
    <script type="text/javascript" src="asset/js/jQuery.js"></script>
    <!--<link rel="stylesheet" href="asset/semantic/semantic.min.css">-->
    <link rel="stylesheet" type="text/css" href="asset/semantic/semantic.min.css">
	<script src="asset/semantic/semantic.min.js"></script>
    <head>
        <title>Grow monitor</title>
    </head>
    <body>
        <div class="ui pointing menu">
            <a class="item" href="/" id="monitor">
		  	   Monitor
            </a>
            <a class="item" href ="/settings" id="settings">
                Settings
            </a>
            <div class="right menu">
                <%if(login==false){%>
                    <a class="ui item" href="/login">
                        Login
                    </a>
                    <a class="ui item" href="/signup">
                        Sign up
                    </a>
                <%}else{%>
                    <a class="ui item" href="/logout">
                    Log out
                    </a>
                <%}%>
            </div>
		</div>