<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="asset/semantic/semantic.min.css">
    <script type="text/javascript" src="asset/js/grow.js"></script>
    <script type="text/javascript" src="asset/js/Chart.js"></script>
    <script type="text/javascript" src="asset/js/moment.js"></script>
    <head>
        <title>Grow monitor</title>
    </head>
    <body>