<% include header %>
<div class="ui main container">
	<h1>Grow System Monitor</h1>
	<div class="row" id="search">
		<div class="ui form">
			<div class="four fields">
      			<div class="field">
      				<label>From</label>
        			<input type="text" id ="from" name="from" placeholder="from">
      			</div>
      			<div class="field">
      				<label>To</label>
        			<input type="text" id ="to" name="to" placeholder="to">
				</div>
				<div class="field">
					<label>Temperature</label>
      				<select class="ui fluid dropdown" name="temperature" id="temperature">
        				<option value="F">Fahrenheit</option>
        				<option value="C">Celcius</option>
        			</select>
      			</div>
				<div class="field">
					<label style="color: white">Show</label>
					<button class="ui primary basic button" onclick="getresult()" tabindex="0">Show results</button>
				</div>
			</div>		
		</div>
	</div>
	<div class="row">
		<div class="ui checkbox">
			<input checked onclick="showTemp()" type="checkbox" id ="showtemp" name="showtemp" placeholder="showtemp">
			<label>Show Temperature</label>
        </div>
       	<div class="ui checkbox">
			<input checked onclick="showHumid()" type="checkbox" id ="showhumid" name="showhumid" placeholder="showhumid">
			<label>Show humidity</label>
	    </div>
	</div>
	<div class="row" id="graph">
		<canvas id="myChart" ></canvas>
	</div>
</div>
<% include footer %>